@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Salles Web MVC App From C# Course</h1>
    <p>Project make by: <a href="https://github.com/joaopedro-monteiro" target="_blank" rel="noopener noreferrer">João Pedro Monteiro (GitHub)</a></p>
</div>
<div>
    <header>
        <h2>Bem-vindo ao projeto de cadastro de departamentos, 
            vendedores e vendas! Este site foi desenvolvido para 
            auxiliar no gerenciamento de informações relacionadas 
            a departamentos, vendedores e suas vendas. 
            Com essa aplicação, você poderá facilmente cadastrar, 
            visualizar e pesquisar vendas de vendedores por diferentes 
            filtros.
        </h2>
    </header>
</div>