@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Salles Web MVC App From C# Course</h1>
    <p>Project make by: <a href="https://github.com/joaopedro-monteiro" target="_blank" rel="noopener noreferrer">João Pedro Monteiro (GitHub)</a></p>
</div>
